html {
    min-height: auto;
    min-width: auto;
    body {
        min-width: 100%;
        min-height: 100vh;
        background-color: rgba(240,240,240,0.9);
    }
}


@import "normalize.scss";
@import "commons.scss";
@import "fonts.scss";

// demo-project scss
@import "../../demos/github-404/scss/github-404.scss";
@import "../../demos/Clock/scss/clock.scss";
@import "../../demos/context_api/scss/context_api.scss";