.toolbar {
    height: 85px;
    width: 100%;
    background-color: rgba(90,100,255,1);
}
.btn {
    width: 80px;
    height: auto;
    background-color: rgba(255,220,30,1);
    text-align: center; 
    cursor: pointer;   
    span {
        display: block;
        padding: 10px;
    }
}